/** GT-AMERICA **/
@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Black-Italic-Trial.woff2")
      format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Black-Trial.woff2")
      format("woff2");
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Bold-Italic-Trial.woff2")
      format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Bold-Trial.woff2")
      format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Light-Italic-Trial.woff2")
      format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Light-Trial.woff2")
      format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Medium-Italic-Trial.woff2")
      format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Medium-Trial.woff2")
      format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Regular-Italic-Trial.woff2")
      format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Regular-Trial.woff2")
      format("woff2");
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Thin-Italic-Trial.woff2")
      format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: local("GT-America"),
    url("../fonts/GT-America/GT-America-Standard-Thin-Trial.woff2")
      format("woff2");
  font-weight: 300;
}

/** SuisseIntl **/
@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Black-WebTrial.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Bold-WebTrial.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Light-WebTrial.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Medium-WebTrial.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Regular-WebTrial.woff2") format("woff2");
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-Thin-WebTrial.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntl"),
    url("../fonts/SuisseIntl/SuisseIntl-SemiBold-WebTrial.woff2")
      format("woff2");
}

/** Test-Staff **/
@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Black.otf") format("opentype");
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-BlackItalic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-SemiBold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Staff";
  src: local("Test-Staff"),
    url("../fonts/Test-Staff/StaffTest-SemiBoldItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}


